<%= form_for (workshop), :url => update_workshop_path(@workshop.to_param) do |f| %>
  <% if workshop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workshop.errors.count, "error") %> prohibited this workshop from being saved:</h2>

      <ul>
      <% workshop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-offset-2 col-md-4">

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

  </div>

  <div class="col-md-4">

    <div class="field">
      <%= f.label :teacher %>
      <%= f.text_field :teacher %>
    </div>

    <div class="field">
      <%= f.label :begins %>
      <%= f.text_field :begins, class: "datepicker_begin" %>
    </div>

    <div class="field">
      <%= f.label :ends %>
      <%= f.text_field :ends, class: "datepicker_end" %>
    </div>

  </div>


  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="actions">
        <%= f.submit "Modifier", class: "button_link" %>
        <%= link_to I18n.t('views.back'), workshops_path, class: "button_link" %>
      </div>
    </div>
  </div>
<% end %>
