<p id="notice"><%= notice %></p>
<section class="container-fluid bg_full_width_workshop">
</section>

<% i = 0 %>
<% @projects.each do |project| %>
  <div class="modal fade" id="project_<%= i %>" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">Informations</h2>
      </div>
      <div class="modal-body">
        <h4>Description du projet </h4>
          <p><%= project.description %></p>
        <h4>Assisteront à la soutenance </h4>
        <ul>
        <% project.attendees.each do |user| %>
            <li><%= user.firstname %> <%= user.lastname %></li>
        <% end%>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
  <% i += 1 %>
<% end %>

<div class="canvas">
  <%= link_to 'Créer un Workshop', {controller: "create_workshop"}, class: "create_workshop" %>
  <h4><i class="fa fa-list" aria-hidden="true"></i> Workshops</h4>

  <% @workshops.each do |workshop| %>
    <div class="each_workshop <% if @workshop.name == workshop.name  %> active <% end %>">

      <%= link_to workshop.name, workshop_path(workshop.to_param) %>
      <% if workshop.projects.count == 0 %>
        <i title="Processus de création non terminé !" class="fa fa-exclamation-circle project_in_creation" aria-hidden="true" style="color:#bf3939; font-size:1.5em;"></i>
      <% end %>
    </div>
  <% end %>
</div>
<div class="container-fluid full_width last_workshop_view">
  <div class="content">
    <% if Workshop.count != 0 %>

      <div class="row">
        <div class="col-md-12 title_workshop">
          <div class="filter">
            <h1><%= @workshop.name %></h1>
          </div>
        </div>
      </div>

      <div class="row wrapper_informations">
        <div class="actions_workshop">
          <%= link_to (content_tag(:i, nil, class: 'fa fa-pencil-square-o')), edit_workshop_path(@workshop.to_param) %>
          <%= link_to (content_tag(:i, nil, class: 'fa fa-trash-o')),  workshop_path(@workshop.to_param), method: :delete, data: { confirm: I18n.t('views.are_you_sure') } %>
        </div>

        <div class="col-md-5 col-sm-12">
          <div class="line_title">
            <h3><i class="fa fa-info" aria-hidden="true"></i> Informations</h3>
          </div>

          <div class="informations">
            <ul>
              <li><span class="attribut">Créé par :</span> <%= @workshop.user.firstname %></li>
              <li><span class="attribut">Professeur(s) associé(s) :</span> <%= @workshop.teacher %></li>
              <li><span class="attribut">Date de début :</span> <span class="beginDate"><%= @workshop.begins %></span></li>
              <li><span class="attribut">Date de fin :</span> <span class="endDate"><%= @workshop.ends %></span></li>
            </ul>
          </div>

          <div class="line_title">
            <h3><i class="fa fa-comment" aria-hidden="true"></i> Description</h3>
          </div>

          <div class="description">
            <p><%= @workshop.description %></p>
          </div>
        </div>

        <div class="col-md-7 col-sm-12">
          <div class="line_title">
            <h3><i class="fa fa-users" aria-hidden="true"></i> Les projets</h3>
          </div><!-- If there is no workshop, don't print on the screen -->
          <div class="every_projects">
            <!-- if user doesn't have selected a group display button 'S ajouter' for join a group -->
            <% userInWorkshop = @workshop.users.include? current_user %>
            <!-- if user have select a group display button 'Switch' for switch group -->
            <% i = 0 %>
            <% @projects.each do |project| %>

            <% userInProject = project.users.include? current_user %>

              <div class="group">
                  <p><%= project.name %><span class="pull-right">
                  <i data-toggle="modal" data-target="#project_<%= i %>" class="see_infos fa fa-info-circle" aria-hidden="true"></i></span></p>
                  <% project.users.order('works.project_leader DESC').each do |user| %>
                    <ul>
                      <li>
                        <%= user.firstname %>
                        <%= user.lastname %>
                        <% if user.works.find_by(project_id: project.id).project_leader  == 1 && @workshop.projectleaders == 1 %>
                          <i class="fa fa-star" aria-hidden="true"></i>
                        <% end %>
                      </li>
                    </ul>
                  <% end %>
                  <% if(@workshop.teamgeneration==1) %>
                    <% if !userInWorkshop  %>
                      <li class="button_link"><%= link_to "S\'ajouter", add_to_project_path(@id, project.id), method: :put%></li>
                    <% elsif !userInProject %>
                        <li class="button_link"><%= link_to "Changer",switch_to_project_path(@id,@current_project_id, project.id), method: :put%></li>
                    <% end %>
                  <% end %>
              </div>
              <% i += 1 %>
            <% end %>
            <img class="tete_logo" src="/assets/tete_logo.png" alt="Logo" />
          </div>
        </div>
      </div>

      <div class='col-md-offset-2 col-md-8' id="pbar_outerdiv">
        <div id="pbar_text"></div>
        <div id="pbar_innertext"></div>
      </div>

    <% else %>
      <div class="row">
        <div class="col-md-12 no_project">
          <%= link_to (content_tag(:i, nil, class: 'fa fa-plus-square-o')), controller: "create_workshop" %><br />
          Aucun projet :(
        </div>
      </div>
    <% end %> <!-- end if -->
  </div>
</div>

<script type="text/javascript">

</script>
