<%= form_for(lien) do |f| %>
  <% if lien.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lien.errors.count, "error") %> prohibited this lien from being saved:</h2>

      <ul>
      <% lien.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="actions">
        <% if params[:action] == "new" %>
          <%= f.submit "Créer", class: "button_link" %>
        <% else %>
          <%= f.submit "Modifier", class: "button_link" %>
        <% end %>
        <%= link_to "Retour", liens_path, class: "button_link" %>
      </div>
    </div>
  </div>
<% end %>
