<p id="notice"><%= notice %></p>

<h1>Liens</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @liens.each do |lien| %>
      <tr>
        <% if /facebook/ =~ lien.url%>
          <td><%= link_to lien.url do %>
            <%= image_tag 'facebook.png', width: 60, height: 60, alt: lien.name %>
          <% end %></td>
        <% elsif /twitter/ =~ lien.url%>
          <td><%= link_to lien.url do %>
            <%= image_tag 'twitter.png', width: 60, height: 60, alt: lien.name %>
          <% end %></td>
        <% elsif /github/ =~ lien.url%>
          <td><%= link_to lien.url do %>
            <%= image_tag 'github.png', width: 60, height: 60, alt: lien.name %>
          <% end %></td>
        <% elsif /gitter/ =~ lien.url%>
          <td><%= link_to lien.url do %>
            <%= image_tag 'gitter.png', width: 60, height: 60, alt: lien.name %>
          <% end %></td>
        <% elsif /ppulse/ =~ lien.url%>
            <td><%= link_to lien.url do %>
              <%= image_tag 'propusle.png', width: 60, height: 60, alt: lien.name %>
            <% end %></td>
        <% elsif /slack/ =~ lien.url%>
          <td><%= link_to lien.url do %>
            <%= image_tag 'slack.png', width: 60, height: 60, alt: lien.name %>
          <% end %></td>
        <% elsif /docs.google/ =~ lien.url%>
          <td><%= link_to lien.url do %>
            <%= image_tag 'doc.png', width: 60, height: 60, alt: lien.name %>
          <% end %></td>
        <% elsif /drive.google/ =~ lien.url%>
          <td><%= link_to lien.url do %>
            <%= image_tag 'googledrive.png', width: 60, height: 60, alt: lien.name %>
          <% end %></td>
        <% elsif /framapad/ =~ lien.url%>
          <td><%= link_to lien.url do %>
            <%= image_tag 'framapad.png', width: 120, height: 60, alt: lien.name %>
          <% end %></td>
        <% else %>
          <td><%= link_to lien.name,  lien.url%></td>
        <% end %>
        <!-- <td><%= link_to 'Show', lien %></td> -->
        <td><%= link_to 'Edit', edit_lien_path(lien) %></td>
        <td><%= link_to 'Destroy', lien, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lien', new_lien_path %>
