<p id="notice"><%= notice %></p>

<section class="container-fluid bg_full_width_workshop">
</section>


<div class="container-fluid full_width inscription">
  <div class="content">

    <div class="row wrapper_informations">

      <div class="col-md-7 col-sm-12">
        <div class="line_title">
          <h3><i class="fa fa-info" aria-hidden="true"></i> Liens utiles</h3>
        </div>

        <div class="informations list_link">
          <ul>
            <li><%= link_to 'Nouveau lien', new_lien_path, class: "button_link" %></li>
            <% @liens.each do |lien| %>
              <li>
                <% if lien.logo != nil %>
                  <%= image_tag lien.logo, width: 40, height: 40, alt: lien.name %>
                <% end %>
                <%= link_to lien.name, lien.url, class: "each_link" %>
                <div class="pull-right">
                  <%= link_to 'Modifier', edit_lien_path(lien), class: "button_link" %>
                  <%= link_to 'Supprimer', lien, method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, class: "button_link" %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="col-md-5 img_link">
        <img src="/assets/tete_logo.png" alt="Tête du cochon" />
      </div>
    </div>
  </div>
</div>
