<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @lien.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @lien.url %>
</p>

<%= link_to 'Modifier', edit_lien_path(@lien) %> |
<%= link_to 'Retour', liens_path %>
