<%= form_for workshop, url: wizard_path, method: :put do |f| %>
<!-- <% if workshop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workshop.errors.count, "error") %> prohibited this workshop from being saved:</h2>

      <ul>
      <% workshop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
-->

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :teacher %>
    <%= f.text_field :teacher %>
  </div>

  <div class="field">
    <%= f.label :begins %>
    <%= f.date_select :begins %>
  </div>

  <div class="field">
    <%= f.label :ends %>
    <%= f.date_select :ends %>
  </div>

  <div class="field">
    <!--
    Deleting the original field in order to remplace it with a radio_button_tag
    <%= f.number_field :teamgeneration %> -->
    <div>Mode de génération des groupes</div>
    <%= label :teamgeneration, "Full Random" %>
    <%= f.radio_button :teamgeneration, 0 %>

    <%= label :teamgeneration, "Manuel" %>
    <%= f.radio_button :teamgeneration, 1, disabled: true %>

    <%= label :teamgeneration, "Mi-random" %>
    <%= f.radio_button :teamgeneration, 2, disabled: true %>

    <%= label :teamgeneration, "Préférences" %>
    <%= f.radio_button :teamgeneration, 3, disabled: true %>

  </div>

  <div class="field">
    <%= f.label :teamnumber %>
    <%= f.number_field :teamnumber %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
