<p id="notice"><%= notice %></p>
<!-- @workshop = Workshop Object -->
  <!-- @datas[index
          [project]:Project Object
          [users][User Object] -->
<p>
  <strong>Name:</strong>
  <%= @workshop.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @workshop.description %>
</p>

<p>
  <strong>Createdby:</strong>
  <%= @workshop.user_id %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @workshop.teacher %>
</p>

<p>
  <strong>Begins:</strong>
  <%= @workshop.begins %>
</p>

<p>
  <strong>Ends:</strong>
  <%= @workshop.ends %>
</p>

<p>
  <strong>Teamgeneration:</strong>
  <%= @workshop.teamgeneration %>
</p>

<p>
  <strong>Teamnumber:</strong>
  <%= @workshop.teamnumber %>
</p>

<%= link_to 'Back', previous_wizard_path %>
<%= link_to 'Valider', next_wizard_path %>
