<h1>Envoyer un SOS</h1>

<h4>La fonction SOS vous permet de signaler une difficulté particulière dans l'avancée de votre projet. Un mail sera envoyé aux membres des autres teams pour les avertir de votre problème.</h4>

<%= form_tag("/alerts/create") do %>

  <div class="field">
    <%= label_tag(:objet, "Objet du mail :") %>
    <%= text_field_tag(:objet) %>
  </div>

  <div class="field">
    <%= label_tag(:description, "Décrivez votre problème :") %>
    <%= text_area_tag(:description) %>
  </div>

  <div class="actions">
    <%= submit_tag "OK", data: { confirm: "Êtes-vous sûr(e) de vouloir envoyer ce SOS ?" } %>
  </div>
<% end %>
