  <nav class='header'>
    <a href="/"><img class="logo" src="/assets/logo.png" alt="Logo"></a>

    <!--<ul class="dropdown">
      <li>
        <button type="button" class="btn btn-primary" data-toggle="dropdown">
          <%= @promo %>
          <span class="caret"></span>
        </button>
      </li>
      <li>
        <ul class="dropdown-menu">
          <% @years.each do |year| %>
            <li><%= link_to year, workshops_path(year)%></li>
          <% end %>
        </ul>
      </li>
    </ul>-->

    <ul>
      <% if user_signed_in? %>
        <li><%= link_to "Promotion", promo_path %></li><span>|</span>
        <li><%= link_to "Liens utiles", liens_path %></li><span>|</span>
        <li><%= link_to "Mon profil", edit_user_registration_path %></li><span>|</span>
        <li><%= link_to 'Se déconnecter', destroy_user_session_path, :method => :delete %></li>
        <li class="open_menu"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></li>
      <% else %>
        <li><%= link_to 'S\'inscrire', new_user_registration_path %></li><span>|</span>
        <li><%= link_to 'Se connecter', new_user_session_path %></li>
        <li class="open_menu"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></li>
      <% end %>
    </ul>
  </nav>

  <nav class='nav_mobile'>
    <div class="logo_mobile">
      <i class="fa fa-times-circle-o fa-2x" aria-hidden="true"></i>
    </div>

    <% if user_signed_in? %>
      <h4><i class="fa fa-user" aria-hidden="true"></i> Mon profil</h4>

      <div class="my_profil">
        <%= link_to current_user.firstname, edit_user_registration_path %>
      </div>
      <div class="my_profil">
        <%= link_to 'Se déconnecter', destroy_user_session_path, :method => :delete %>
      </div>

      <h4><i class="fa fa-list" aria-hidden="true"></i> Workshops</h4>
      <% @workshops.each do |workshop| %>
        <div class="each_workshop <% if @workshops.name == workshop.name  %> active <% end %>">
          <%= link_to workshop.name, workshop_path(workshop.to_param) %>
        </div>
      <% end %>
    <% else %>

      <h4><i class="fa fa-user" aria-hidden="true"></i> Rejoins-nous</h4>

      <div class="my_profil">
        <%= link_to 'S\'inscrire', new_user_registration_path %>
      </div>
      <div class="my_profil">
        <%= link_to 'Se connecter', new_user_session_path %>
      </div>
    <% end %>
  </nav>
