<!DOCTYPE html>
<html>
  <head>
    <title>Grouper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/tete_logo.png" />

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render('layouts/header') %>
    <main class="margin_top">
      <%= yield %>
    </main>
    <%= render('layouts/footer') %>
  </body>
</html>
